
body{
    background-image: url("../img/home.jpg");
    background-size: cover;
}
@font-face
{
    font-family: hometitle;
    src: url('../fonts/FZLTCXHJW.ttf');
}

.home-title{
    margin-top: 150px;
    color: white;
}
.home-title>h1{
    text-align: center;
    font-size: 60px;
    font-family: hometitle;
    line-height: 60px;
    font-weight: 600;
}
.search-img{
    height: 80px;
    width: 80px;
    margin-right: 20px;
}
.search{
    margin-top: 20px;
    text-align: center;
}

.search .form-control{
    background-color: transparent;
    color: white;
    border: 1px solid #fff;
    padding-left: 10px;
    outline: none;
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;

}
.search .form-control:focus{
    border: 1px solid #fff;
    box-shadow: none;
}
.search .btn-default{
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 0px;
    height: 40px;
    outline: none;
}

