
.sort{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px 20px;
}
.sort .active{
    color: white;
    background-color: #ec971f;
}
.sort .active:after{
    content: '\25BC';
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color: #ec971f;
    border-color: #ec971f;
}
.search-result td a:hover{
    color: #ec971f;
}

#export{
    float: right;
}