.search-bar .form-control:focus{
    border-color:#ec971f;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #ec971f;
}
.search-bar{
    margin-bottom: 20px;
}
.search-button{
    background-color: #ec971f;
    color: white;
}