
.sort{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px 20px;
}
.sort .active{
    color: white;
    background-color: #ec971f;
}
.sort .active:after{
    content: '\25BC';
}